<section class="content-wrap">
  <%= render partial: 'partials/menu' %>

  <div class="d-flex j-center">
    <div class="grid-container-2 movement-head j-center color-font-general">
      <span><%= image_tag @category.icon %></span>
      <div class="d-flex-col family-head ">
        <span><%= @category.name %></span>
        Total amount: $<%= number_with_precision(category_total(@category), precision: 2) %>
      </div>
    </div>
  </div>

  <div class="d-flex-col category-container a-center">
    <%= render partial: 'partials/movement_card', collection: @movements, as: :movement %>
  </div>

  <div class="d-flex j-center green-container">
    <%= link_to 'Add a new movement', new_category_movement_path(@category.id), class: "d-flex btn-green family-general" %>
  </div>
</section>