<section>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div>
      <ul class="d-flex m0 ul-nav">
        <li class="material-symbols-outlined">
            <%= link_to "arrow_back", root_path, class: "no-underline m0" %>
        </li>
        <li class="m0"><span class="family-general">RESET PASSWORD</span></li>
        <li><%= f.submit "Reset", class: "link-seeming font-nav m0 family-general" %></li>
      </ul>
    </div>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="d-flex-col field a-center">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-input family-general" %>
    </div>
  <% end %>
</section>